<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<style>

.centrado {
  text-align: center;
}

</style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Búsqueda de vehículos</title>
    </head>
    <body>
        <h1 class="centrado">TRABAJO FINAL MÓDULO TRATAMIENTO DE DATOS - MAESTRIA CIBER SEGURIDAD<h1>
        <h2 class="centrado">FORMULARIO DE BÚSQUEDA<h2>

            <div class="container">
  <div class="card">
    <div class="card-header bg-info text-center">
      <h5 style="color:white">Ingrese datos a buscar</h5>
    </div>
    <div class="card-body  border border-info">
      <form method="POST" action="{{url_for('procesar')}}" class="text-center">
        <div class="form-group row justify-content-center">
        </div>
        <div>
            Descripción Vehículo<br> <input class="form-control" name="desvehiculo" required type="text" placeholder="Descripción vehículo" class="btn btn-outline-info btn-rounded btn-block waves-effect z-depth-0">
            <br><br>
           Año Fabricación <br><input class="form-control" name="anio" required type="number" placeholder="Año Fabricación mayor a" class="btn btn-outline-info btn-rounded btn-block waves-effect z-depth-0">
            <br><br>
             <input type="submit" value="Consultar" class="btn btn-outline-info btn-rounded btn-block waves-effect z-depth-0" />
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>