<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Búsqueda de vehículos</title>
    </head>
    <body>
        <form method="POST" action="{{url_for('procesar')}}">

            <input name="desvehiculo" required type="text" placeholder="Descripción vehículo">
            <br><br>
            <input name="anio" required type="number" placeholder="Año Fabricación mayor a">
            <br><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>