<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mostrar resultados</title>
    </head>
    <body>
        <h1 RESULTADOS DE LA BÚSQUEDA>
            {% for dato in datos %}
        <strong>Descripción Vehículo: </strong>{{desvehiculo}}
        <br>
        <strong>Año Fabricación: </strong>{{anio}}
    </body>
</html>